.Modal.open {
  animation: slide-in 0.6s ease-in-out;
}
.Modal.close {
  animation: slide-out 0.6s ease-in-out;
}

.Modal.layout.open {
  animation: fade-in 0.6s ease-in;
}
.Modal.layout.close {
  animation: fade-out 0.6s ease-in;
}
.Modal.backdrop.open {
  animation: fade-in 0.6s ease-in;
}
.Modal.backdrop.close {
  animation: fade-out 0.6s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
